@charset "UTF-8";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* 민산스 Black 폰트 */
@font-face {
  font-family: "MinSans-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, em, strong, a, li, span {
  font-family: "NanumSquare";
}

/* 초기화 */
.clearfix {
  display: block;
  content: "";
  clear: both;
}

* {
  margin: 0 auto;
  padding: 0;
}

/* header */
.gnb > ul {
  list-style: none;
  margin: 0 auto;
}

/* 부트스트랩 커스텀 */
.container-fluid {
  padding: 0;
}

/* a태그 초기화 */
a {
  color: #000;
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #000;
}

/* 이미지 100%*/
.MaxIMG {
  width: 100%;
}

/* 마진 */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-200 {
  margin-top: 200px;
}

/* 
    border 값
    border 상 우 하 좌, 로 클래스명을 만들었다.
*/
.border-solid {
  border: 1px solid #707070;
}

.border-top-bottom {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.border-right-bottom {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.border-bottom {
  border-bottom: 1px solid #707070;
}

.border-top-right-bottom {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
}

.border-right-bottom-left {
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.border-left {
  border-left: 1px solid #707070;
}

/* 폰트 설정*/
/* 영역확인 */
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 100px;
  background-color: #fff;
  transition: all 0.3s;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.menu {
  display: flex;
}
.menu li {
  width: 128px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.menu li a {
  font-size: 16px;
  font-weight: 800;
  color: #394459;
}

.gnb {
  margin-right: 80px;
}

.submenu li {
  display: none;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .logo {
    margin-left: 16px;
    line-height: 50px;
  }
  .logo img {
    width: 86px;
  }

  .gnb .menu {
    display: none;
  }

  header {
    height: 50px;
  }

  .visual {
    top: 50px !important;
  }

  .mt-reset {
    margin: 0;
  }
}
/**********/
/* footer */
/**********/
.footer {
  height: 100%;
  background-color: #E2E5E9;
}

.footer-info {
  display: flex;
}

.footer-info li {
  font-size: 14px;
  font-weight: 800;
}

.footer-info li:nth-child(1) {
  margin-right: 15px;
}

.addr {
  padding: 10px 0px 16px 0px;
}

.copyright {
  padding-top: 56px;
  color: #777777;
}

/* visual */
.visual_box {
  position: relative;
  bottom: 270px;
}
.visual_box h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 800;
}
.visual_box p {
  margin-top: 34px;
  font-size: 16px;
  color: #fff;
  font-weight: 800;
}

.page_nav {
  margin-top: -120px;
}
.page_nav ul {
  display: flex;
}
.page_nav ul li {
  text-align: center;
}
.page_nav ul li:nth-child(1) {
  border-bottom: 3px solid #1858D9;
}
.page_nav ul li:nth-child(2) {
  border-bottom: 3px solid #E2E5E9;
}
.page_nav ul li:nth-child(3) {
  border-bottom: 3px solid #E2E5E9;
}
.page_nav ul li:nth-child(4) {
  border-bottom: 3px solid #E2E5E9;
}
.page_nav ul li a {
  display: block;
  font-size: 24px;
  color: #394459;
  font-weight: 800;
  padding: 22px;
}

/* section 시작 */
/* section 시작 */
/* section 시작 */
.m-reset {
  margin-top: 80px;
}

.contWrap {
  position: relative;
}

.sec_title h2 {
  font-size: 40px;
  color: #394459;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

/* 탭메뉴  */
.tab_container {
  position: relative;
  margin: auto;
}

.tab_container .tab_content {
  width: 100%;
  padding: 30px 0;
}

.tabs ul {
  display: table;
  table-layout: fixed;
  padding: 0;
  margin: 0 auto;
}
.tabs ul li {
  display: table-cell;
  width: 285px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-top: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}
.tabs ul .active {
  background: #1858D9;
  border: 0px;
}

.tabs li.active a {
  color: #fff;
}

.tabs li a {
  font-size: 16px;
  color: #222;
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
}

.position-r {
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.tab-title h2 {
  position: absolute;
  top: -130px;
  left: 70px;
  font-size: 60px;
  color: rgba(233, 233, 233, 0.6);
  font-weight: 800;
}
.tab-title span {
  position: absolute;
  top: -90px;
  font-size: 48px;
  color: #1858D9;
  font-weight: 800;
}

.tab_cont_text p {
  font-size: 32px;
  color: #0B2244;
  font-weight: 800;
}

/* 992 ~ 1199 */
@media (min-width: 992px) and (max-width: 1199px) {
  .visual_box {
    bottom: 180px;
  }
}
/* 768 디바이스  */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-left: 16px;
    line-height: 100px;
  }

  .gnb .menu {
    display: none;
  }

  .sidebar {
    display: block;
    width: 40px;
    height: 25px;
    margin-right: 30px;
    position: relative;
  }
  .sidebar span {
    position: absolute;
  }
  .sidebar span:nth-child(1) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 0;
  }
  .sidebar span:nth-child(2) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar span:nth-child(3) {
    background: #394459;
    width: 100%;
    height: 3px;
    bottom: 0;
  }

  .sidebar-wrap {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50vw;
    height: 100vh;
    background-color: #394459;
    transition: all 0.5s;
  }

  .sidebar-close {
    display: block;
    width: 100%;
    background-color: pink;
  }
  .sidebar-close span {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    float: right;
    font-weight: 900;
  }

  ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
  }

  .sidebar-menu li a {
    background-color: #394459;
    padding: 20px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a:hover {
    background-color: #394459;
    padding: 20px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
    display: inline;
  }

  li.have-children ul {
    padding: 0px;
  }

  li.have-children ul li a {
    background-color: rgba(57, 68, 89, 0.8);
    background-color: #536A97;
  }

  li.have-children ul li a:hover {
    color: #fff;
  }

  li.have-children, li {
    position: relative;
  }

  .have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all 0.5s;
  }

  li.active.have-children span::after {
    transform: rotate(90deg);
  }

  .sidebar-menu .have-children > ul {
    display: none;
  }

  .tab-title h2 {
    font-size: 40px;
    top: -100px;
    left: 30px;
  }
  .tab-title span {
    font-size: 32px;
    top: -67px;
  }

  .tab_cont_text p {
    font-size: 20px;
  }

  /* sec */
  .page_nav {
    width: 100%;
  }
  .page_nav ul li {
    width: 100%;
  }

  .sec_title {
    margin-top: 40px;
  }
}
/* 767 이하 디바이스  */
@media (max-width: 767px) {
  .sidebar {
    display: block;
    width: 40px;
    height: 25px;
    margin-right: 30px;
    position: relative;
  }
  .sidebar span {
    position: absolute;
  }
  .sidebar span:nth-child(1) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 0;
  }
  .sidebar span:nth-child(2) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar span:nth-child(3) {
    background: #394459;
    width: 100%;
    height: 3px;
    bottom: 0;
  }

  .sidebar-wrap {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50vw;
    height: 100vh;
    background-color: #394459;
    transition: all 0.5s;
  }

  .sidebar-close {
    display: block;
    width: 100%;
    background-color: pink;
  }
  .sidebar-close span {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    float: right;
    font-weight: 900;
  }

  ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
  }

  .sidebar-menu li a {
    background-color: #394459;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a:hover {
    background-color: #394459;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
    display: inline;
  }

  li.have-children ul {
    padding: 0px;
  }

  li.have-children ul li a {
    background-color: rgba(57, 68, 89, 0.8);
    background-color: #536A97;
    padding: 20px 20px;
  }

  li.have-children ul li a:hover {
    color: #fff;
  }

  li.have-children, li {
    position: relative;
  }

  .have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all 0.5s;
  }

  li.active.have-children span::after {
    transform: rotate(90deg);
  }

  .sidebar-menu .have-children > ul {
    display: none;
  }

  .visual {
    margin-top: 50px;
  }

  .visual_box {
    bottom: 125px;
  }
  .visual_box h1 {
    font-size: 24px;
  }
  .visual_box p {
    font-size: 10px;
    margin-top: 8px;
  }

  .page_nav {
    margin-top: -60px;
    margin-bottom: 37px;
    width: 100%;
  }
  .page_nav ul li {
    width: 100%;
  }
  .page_nav ul li:nth-child(1) {
    border-bottom: 1px solid #1858D9;
  }
  .page_nav ul li:nth-child(2) {
    border-bottom: 1px solid #e2e5e9;
  }
  .page_nav ul li:nth-child(3) {
    border-bottom: 1px solid #e2e5e9;
  }
  .page_nav ul li:nth-child(4) {
    border-bottom: 1px solid #e2e5e9;
  }
  .page_nav ul li a {
    font-size: 12px;
    padding: 7px 2px;
  }

  .m-reset {
    margin: 0;
  }

  .contWrap {
    margin-top: 0px;
  }

  .sec_title h2 {
    font-size: 16px;
  }

  .sec-logo {
    width: 240px;
  }

  .sec_content em {
    font-size: 14px;
  }
  .sec_content p {
    font-size: 14px;
  }
  .sec_content strong {
    margin-top: 20px;
    text-align: right;
    font-size: 16px;
  }

  .tabs ul li {
    width: 90px;
    height: 24px;
    line-height: 24px;
  }
  .tabs ul li a {
    font-size: 10px;
  }

  .tab-title h2 {
    left: 15px;
    top: -70px;
    font-size: 14px;
  }
  .tab-title span {
    font-size: 16px;
    top: -60px;
  }

  .mt-80 {
    margin-top: 32px;
  }

  .mt-150 {
    margin-top: 56px;
  }

  .tab_cont_text p {
    font-size: 14px;
  }

  .vertical-center {
    position: unset;
    transform: translateY(16px);
  }

  .footer_logo {
    margin: 16px 0px !important;
  }
  .footer_logo img {
    width: 96px;
  }

  .mt-50 {
    margin: 0;
  }

  .copyright {
    padding-top: 24px;
  }
}