@charset "UTF-8";
/* 초기화 */
.clearfix {
  display: block;
  content: "";
  clear: both;
}

* {
  margin: 0 auto;
  padding: 0;
}

/* header */
.gnb > ul {
  list-style: none;
  margin: 0 auto;
}

/* 부트스트랩 커스텀 */
.container-fluid {
  padding: 0;
}

/* a태그 초기화 */
a {
  color: #000;
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #000;
}

/* 이미지 100%*/
.MaxIMG {
  width: 100%;
}

/* 마진 */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-200 {
  margin-top: 200px;
}

/* 폰트 설정*/
/* 영역확인 */
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 100px;
  background-color: #fff;
  transition: all 0.3s;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.menu {
  display: flex;
}
.menu li {
  width: 128px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.menu li a {
  font-size: 16px;
  font-weight: bold;
  color: #394459;
}

.gnb {
  margin-right: 80px;
}

.submenu li {
  display: none;
  height: 40px;
  line-height: 40px;
}

/**********/
/* footer */
/**********/
.footer {
  height: 100%;
  background-color: #E2E5E9;
}

.footer-info {
  display: flex;
}

.footer-info li {
  font-size: 14px;
  font-weight: bold;
}

.footer-info li:nth-child(1) {
  margin-right: 15px;
}

.addr {
  padding: 10px 0px 16px 0px;
}

.copyright {
  padding-top: 56px;
  color: #777777;
}

/* visual */
.visual_box {
  position: relative;
  bottom: 200px;
}
.visual_box h1 {
  font-size: 56px;
  color: #394459;
  font-weight: bold;
}
.visual_box p {
  margin-top: 34px;
  font-size: 16px;
  color: #394459;
  font-weight: bold;
}

.page_nav {
  margin-top: -120px;
}
.page_nav ul {
  display: flex;
}
.page_nav ul li {
  width: 167px;
  text-align: center;
}
.page_nav ul li:nth-child(1) {
  border-bottom: 3px solid #1858D9;
}
.page_nav ul li:nth-child(2) {
  border-bottom: 3px solid #E2E5E9;
}
.page_nav ul li a {
  display: block;
  font-size: 24px;
  color: #394459;
  font-weight: bold;
  padding: 22px;
}

/* section contWarp */
.media_title > h1 {
  font-size: 40px;
  font-weight: bold;
}

.mail {
  padding: 12px;
}

.mail > label {
  background-color: #EEEEEE;
  width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 26px;
  border-radius: 15px 15px 15px 15px;
  padding-left: 7%;
  border: 1px solid #444;
}

.mail_icon {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

/* icon 위치 */
.mail__icon {
  left: 2.5%;
}

.mail___icon {
  left: 3.5%;
}

/* icon 위치 */
.mail > label > img {
  padding: 0px 15px 0px 30px;
}

.mail > label > input {
  border: 0;
  outline: 0;
  width: 75%;
  height: 83px;
  font-size: 26px;
  padding-left: 2%;
  float: right;
  border-radius: 0 15px 15px 0px;
}

.mail_box > span {
  position: absolute;
  left: 30px;
  top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.mail_box > textarea {
  width: 100%;
  outline: none;
  border-radius: 15px;
  padding: 60px 15px 15px 15px;
}

.mail_check > label {
  font-size: 16px;
  margin-top: 46px;
  margin-bottom: 24px;
}

.mail_submit {
  margin-bottom: 100px;
}

.mail_submit > input {
  width: 300px;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: #5587E7;
  color: white;
  font-size: 20px;
  font-weight: bold;
}