@charset "UTF-8";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* 민산스 Black 폰트 */
@font-face {
  font-family: "MinSans-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, em, strong, a, li, span {
  font-family: "NanumSquare";
}

/* 초기화 */
.clearfix {
  display: block;
  content: "";
  clear: both;
}

* {
  margin: 0 auto;
  padding: 0;
}

/* header */
.gnb > ul {
  list-style: none;
  margin: 0 auto;
}

/* 부트스트랩 커스텀 */
.container-fluid {
  padding: 0;
}

/* a태그 초기화 */
a {
  color: #000;
  text-decoration: none;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #000;
}

/* 이미지 100%*/
.MaxIMG {
  width: 100%;
}

/* 마진 */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-200 {
  margin-top: 200px;
}

/* 
    border 값
    border 상 우 하 좌, 로 클래스명을 만들었다.
*/
.border-solid {
  border: 1px solid #707070;
}

.border-top-bottom {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.border-right-bottom {
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.border-bottom {
  border-bottom: 1px solid #707070;
}

.border-top-right-bottom {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
}

.border-right-bottom-left {
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.border-left {
  border-left: 1px solid #707070;
}

/* 폰트 설정*/
/* 영역확인 */
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 100px;
  background-color: #fff;
  transition: all 0.3s;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 80px;
}

.menu {
  display: flex;
}
.menu li {
  width: 128px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.menu li a {
  font-size: 16px;
  font-weight: 800;
  color: #394459;
}

.gnb {
  margin-right: 80px;
}

.submenu li {
  display: none;
  height: 40px;
  line-height: 40px;
}

/**********/
/* footer */
/**********/
.footer {
  height: 100%;
  background-color: #E2E5E9;
}

.footer-info {
  display: flex;
}

.footer-info li {
  font-size: 14px;
  font-weight: 800;
}

.footer-info li:nth-child(1) {
  margin-right: 15px;
}

.addr {
  padding: 10px 0px 16px 0px;
}

.copyright {
  padding-top: 56px;
  color: #777777;
}

/* visual IMG */
.visual {
  width: 100%;
  position: relative;
  top: 100px;
}

.visual > img {
  width: 100%;
}

.visual_box {
  position: absolute;
  top: 35%;
  left: 24%;
}

.visual_box p {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.visual_box p span {
  font-size: 56px;
  color: #394459;
  font-weight: 800;
}

.visual_box p:nth-child(1) {
  margin-left: 50px;
}

.visual_box p:nth-child(2) {
  margin-left: 25px;
}

/* 휠이미지 */
.down-scroll {
  position: absolute;
  left: 32%;
  -webkit-animation: motion 0.3s linear infinite alternate;
          animation: motion 0.3s linear infinite alternate;
}

@-webkit-keyframes motion {
  0% {
    bottom: -90%;
  }
  100% {
    bottom: -95%;
  }
}

@keyframes motion {
  0% {
    bottom: -90%;
  }
  100% {
    bottom: -95%;
  }
}
/*********/
/* sec02 */
/*********/
.sec02 {
  position: relative;
  overflow: hidden;
}

.sec02_bg img {
  position: relative;
  left: -10%;
}

.sec02_card {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 18.95vw;
  height: 60vh;
  border-top: 4px solid #394459;
  border-bottom: 3px solid #394459;
  padding: 15vh 0;
}

.sec02_icon {
  position: absolute;
  left: 0;
  top: 20%;
}

.sec02_card h4 {
  font-size: 48px;
  color: #394459;
  font-weight: 800;
}
.sec02_card h4:first-child {
  margin-top: 20px;
}
.sec02_card p {
  font-size: 24px;
  color: #394459;
  font-weight: 400;
}

.slide-area li {
  position: relative;
}

.slider-hover {
  width: 96%;
  height: 100%;
  background: linear-gradient(to top, rgba(26, 21, 87, 0.65), rgba(255, 255, 255, 0.65));
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}

.slider-hover h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 800;
  position: relative;
  left: 32px;
  top: 85%;
}

.slide-area li:hover > .slider-hover {
  top: 0;
}

/*********/
/* sec03 */
/*********/
.sec03 {
  position: relative;
  text-align: center;
}

.sec03_title {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec03_title > h1 {
  font-weight: 800;
}

.sec03_box {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secbox {
  width: 364px;
  height: 320px;
  margin: 12px;
  box-shadow: 0 0 10px gray;
  background: #fff;
  border-radius: 15px;
}

.secbox p {
  position: relative;
  top: 40%;
  font-size: 40px;
  color: #394459;
  font-weight: 800;
}

.secbox a {
  position: relative;
  top: 55%;
  left: -10%;
  border-radius: 22px;
  padding: 10px;
  font-size: 17px;
  background-color: #394459;
  color: #fff;
  font-weight: 900;
}

/* ***** */
/* media */
/* ***** */
/* 1200px 이하 디바이스 */
@media (min-width: 992px) and (max-width: 1199px) {
  /* visual title  */
  .visual_box p {
    font-size: 28px;
  }
  .visual_box p span {
    font-size: 28px;
  }

  /* sec2 text */
  .sec02_card {
    height: 26vh;
    padding: 6vh 0;
  }
  .sec02_card h4 {
    font-size: 28px;
  }
  .sec02_card p {
    font-size: 16px;
  }
  .sec02_card .sec02_icon {
    top: 8%;
  }

  .sec03_title {
    top: 25%;
  }

  .secbox {
    width: 300px;
    height: 250px;
  }

  .slider-hover {
    width: 92%;
  }
  .slider-hover h4 {
    font-size: 22px;
  }
}
/* 768 디바이스  */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-left: 16px;
    line-height: 100px;
  }

  .gnb .menu {
    display: none;
  }

  .sidebar {
    display: block;
    width: 40px;
    height: 25px;
    margin-right: 30px;
    position: relative;
  }
  .sidebar span {
    position: absolute;
  }
  .sidebar span:nth-child(1) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 0;
  }
  .sidebar span:nth-child(2) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar span:nth-child(3) {
    background: #394459;
    width: 100%;
    height: 3px;
    bottom: 0;
  }

  .sidebar-wrap {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50vw;
    height: 100vh;
    background-color: #394459;
    transition: all 0.5s;
  }

  .sidebar-close {
    display: block;
    width: 100%;
    background-color: pink;
  }
  .sidebar-close span {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    float: right;
    font-weight: 900;
  }

  ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
  }

  .sidebar-menu li a {
    background-color: #394459;
    padding: 20px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a:hover {
    background-color: #394459;
    padding: 20px 25px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
    display: inline;
  }

  li.have-children ul {
    padding: 0px;
  }

  li.have-children ul li a {
    background-color: rgba(57, 68, 89, 0.8);
    background-color: #536A97;
  }

  li.have-children ul li a:hover {
    color: #fff;
  }

  li.have-children, li {
    position: relative;
  }

  .have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all 0.5s;
  }

  li.active.have-children span::after {
    transform: rotate(90deg);
  }

  .sidebar-menu .have-children > ul {
    display: none;
  }

  .visual_box {
    left: 15%;
  }
  .visual_box p {
    font-size: 40px;
  }
  .visual_box p:nth-child(1) {
    margin-right: 20px;
  }
  .visual_box p:nth-child(2) {
    margin-right: 20px;
  }
  .visual_box p span {
    font-size: 48px;
  }

  .sec02_bg img {
    left: -33%;
  }

  .sec02_card {
    top: 21%;
    left: 0%;
    border: 0px;
    padding: 0px;
    width: 100%;
  }

  .sliderBox {
    top: 38%;
    left: 7%;
    width: 90%;
  }
}
/* 767 이하 디바이스  */
@media (max-width: 767px) {
  .logo {
    margin-left: 16px;
    line-height: 100px;
  }

  .gnb .menu {
    display: none;
  }

  .sidebar {
    display: block;
    width: 40px;
    height: 25px;
    margin-right: 30px;
    position: relative;
  }
  .sidebar span {
    position: absolute;
  }
  .sidebar span:nth-child(1) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 0;
  }
  .sidebar span:nth-child(2) {
    background: #394459;
    width: 100%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar span:nth-child(3) {
    background: #394459;
    width: 100%;
    height: 3px;
    bottom: 0;
  }

  .sidebar-wrap {
    position: absolute;
    top: 0;
    right: -50%;
    width: 50vw;
    height: 100vh;
    background-color: #394459;
    transition: all 0.5s;
  }

  .sidebar-close {
    display: block;
    width: 100%;
    background-color: pink;
  }
  .sidebar-close span {
    padding: 15px;
    color: #fff;
    font-size: 30px;
    float: right;
    font-weight: 900;
  }

  ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
  }

  .sidebar-menu li a {
    background-color: #394459;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a:hover {
    background-color: #394459;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  .sidebar-menu li a span {
    margin-right: 20px;
    color: #fff;
    display: inline;
  }

  li.have-children ul {
    padding: 0px;
  }

  li.have-children ul li a {
    background-color: rgba(57, 68, 89, 0.8);
    background-color: #536A97;
    padding: 20px 20px;
  }

  li.have-children ul li a:hover {
    color: #fff;
  }

  li.have-children, li {
    position: relative;
  }

  .have-children span::after {
    position: absolute;
    right: 30px;
    content: "\f054";
    color: #fff;
    transition: all 0.5s;
  }

  li.active.have-children span::after {
    transform: rotate(90deg);
  }

  .sidebar-menu .have-children > ul {
    display: none;
  }

  .visual_box {
    left: 13%;
  }
  .visual_box p {
    font-size: 16px;
  }
  .visual_box p:nth-child(1) {
    margin-left: 20px;
  }
  .visual_box p:nth-child(2) {
    margin-left: 10px;
  }
  .visual_box p span {
    font-size: 24px;
  }

  .down-scroll {
    display: none;
  }

  .sec02 {
    height: 500px;
  }

  .sec02_bg img {
    width: 100%;
    top: 109px;
    left: -20%;
  }

  .sec02_card {
    top: 25%;
    left: 0;
    width: 100vw;
    height: 0;
    border: 0;
    padding: 0;
  }
  .sec02_card h4 {
    font-size: 24px;
  }
  .sec02_card p {
    font-size: 16px;
  }

  .slider-hover {
    width: 91%;
  }
  .slider-hover h4 {
    font-size: 20px;
    left: 15px;
    top: 77%;
  }

  .sliderBox {
    top: 43%;
    left: 19%;
    width: 70%;
  }

  .sec03_title {
    top: 16%;
  }
  .sec03_title h1 {
    font-size: 24px;
  }

  .sec03_box {
    flex-wrap: wrap;
  }
  .sec03_box .secbox {
    width: 288px;
    height: 128px;
  }
  .sec03_box .secbox p {
    font-size: 24px;
    top: 20%;
  }
  .sec03_box .secbox a {
    top: 30%;
    left: 0;
    font-size: 14px;
    padding: 7px 10px;
  }

  .footer_logo {
    margin-top: 16px;
  }
  .footer_logo img {
    width: 96px;
  }

  .footer-info {
    margin-top: 16px;
  }
}