@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

$mainColor:#394459;
$whiteColor:#fff;

// Breakpoints
$layout-mobile: 767px;
$layout-tablet: 768px;
$layout-tablet-lg: 991px;
$layout-desktop: 992px;
$layout-desktop-lg: 1199px;

/* 민산스 Black 폰트 */
@font-face {
  font-family: 'MinSans-Black';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,em,strong,a,li,span{
  font-family: 'NanumSquare';
}


/* 초기화 */
.clearfix{
    display: block;
    content: "";
    clear: both;
}
* {
    margin: 0 auto;
    padding: 0;
  }
  /* header */
  .gnb > ul {
    list-style: none;
    margin: 0 auto;
  }

  /* 부트스트랩 커스텀 */
  .container-fluid{padding: 0;}

  /* a태그 초기화 */
  a {color: #000; text-decoration: none;}
  a:link,
  a:visited,
  a:active,
  a:hover{ text-decoration: none; color:#000;}

  /* 이미지 100%*/
  .MaxIMG{width:100%;}



  /* 마진 */
  .mt-10{margin-top: 10px;}
  .mt-20{margin-top: 20px;}
  .mt-30{margin-top: 30px;}
  .mt-40{margin-top: 40px;}
  .mt-50{margin-top: 50px;}
  .mt-60{margin-top: 60px;}
  .mt-70{margin-top: 70px;}
  .mt-80{margin-top: 80px;}
  .mt-90{margin-top: 90px;}
  .mt-100{margin-top: 100px;}
  .mt-110{margin-top: 110px;}
  .mt-120{margin-top: 120px;}
  .mt-130{margin-top: 130px;}
  .mt-140{margin-top: 140px;}
  .mt-150{margin-top: 150px;}
  .mt-160{margin-top: 160px;}
  .mt-170{margin-top: 170px;}
  .mt-180{margin-top: 180px;}
  .mt-190{margin-top: 190px;}
  .mt-200{margin-top: 200px;}



  /* 
    border 값
    border 상 우 하 좌, 로 클래스명을 만들었다.
*/
.border-solid{
  border: 1px solid #707070;
}

.border-top-bottom{
  border-top: 1px solid #707070;
  border-bottom:1px solid #707070; 
}

.border-right-bottom{
  border-right: 1px solid #707070;
  border-bottom:1px solid #707070; 
}

.border-bottom{
  border-bottom:1px solid #707070; 
}

.border-top-right-bottom{
  border-top: 1px solid #707070;
  border-bottom:1px solid #707070; 
  border-right:1px solid #707070;
}
.border-right-bottom-left{
  border-bottom:1px solid #707070; 
  border-right:1px solid #707070;
  border-left: 1px solid #707070;
}

.border-left{
  border-left: 1px solid #707070;
}



  /* 폰트 설정*/
  @mixin text_style($size,$color,$weight){
    font-size:$size;
    color:$color;
    font-weight: $weight;
}