@import "restyle";
@import "gnb";
@import "footer";



/* visual */
.visual_box{
    position: relative;
    bottom:270px;
    h1{
        @include text-style(56px,$mainColor,800)
    }
    p{
        margin-top: 34px;
        @include text-style(16px,$mainColor,800)
    }
}

.page_nav{
    margin-top: -120px;
    ul{
        display: flex;
        li{
            width:167px;
            text-align: center;
            
            &:nth-child(2){
                border-bottom: 3px solid #1858D9;
            }
            &:nth-child(1){
                border-bottom: 3px solid #E2E5E9;
            }
            a{
                display: block;
                @include text-style(24px,$mainColor,800);
                padding: 22px;
            }
        }
    }
}



.map_addr{
    p{
        font-size: 24px;
        margin: 24px 0px 16px 0px;
        &:last-child{
            margin-bottom: 80px;
        }
    }
    .addr_br{
        display: block;
        width:100%;
        height: 3px;
        background-color: #1858D9;
    }
}








/* section contWarp */
.contWarp{
    // margin-top: 100px;
}
.media_title>h1{
    font-size: 40px;
    font-weight: 800;
}
.mail{padding: 12px;}

.mail>label{
    background-color: #EEEEEE;
    width: 100%;
    height: 85px;
    line-height: 85px;
    font-size: 26px;
    border-radius: 15px 15px 15px 15px;
    padding-left: 7%;

    border: 1px solid #444;
}
.mail_icon{
    position: absolute;
    top:50%;
    left: 3%;
    transform: translateY(-50%);
}

/* icon 위치 */
.mail__icon{left:2.5%;}
.mail___icon{left:3.5%;}
/* icon 위치 */
.mail>label>img{padding: 0px 15px 0px 30px;}
.mail>label>input{
    border: 0;
    outline: 0;
    width: 75%;
    height: 83px;
    font-size: 26px;
    padding-left: 2%;
    float: right;

    border-radius: 0 15px 15px 0px;
}

.mail_box>span{
    position: absolute;
    left: 30px;
    top:15px;
    font-size: 26px;
    font-weight: 800;
}
.mail_box>textarea{
    width:100%;

    outline: none;
    border-radius: 15px;
    padding: 60px 15px 15px 15px;
}

.mail_check>label{font-size: 16px; margin-top: 46px; margin-bottom: 24px;}

.mail_submit{margin-bottom: 100px;}
.mail_submit>input{
    width:300px; height: 50px;
    border: 0;
    outline: 0;
    background-color: #5587E7;
    color: white;
    font-size: 20px;
    font-weight: 800;

}