@import "restyle";
@import "gnb";
@import "footer";



/* visual */
.visual_box{
    position: relative;
    bottom:270px;
    h1{
        @include text-style(56px,$whiteColor,800)
    }
    p{
        margin-top: 34px;
        @include text-style(16px,$whiteColor,800)
    }
}

.page_nav{
    margin-top: -120px;
    ul{
        display: flex;
        li{
            width:167px;
            text-align: center;
            
            &:nth-child(3){
                border-bottom: 3px solid #1858D9;
            }
            &:nth-child(1){
                border-bottom: 3px solid #E2E5E9;
            }
            &:nth-child(2){
                border-bottom: 3px solid #E2E5E9;
            }
            a{
                display: block;
                @include text-style(24px,$mainColor,bold);
                padding: 22px;
            }
        }
    }
}


/* section 시작 */
/* section 시작 */
/* section 시작 */

.contWrap{
    position: relative;
}

.sec_title{
    h2{
        @include text-style(40px,$mainColor,bold);
        text-align: center;
        margin-bottom: 80px;
    }
}